    <div class="card-footer text-center">
        @DouglasCroti
    </div>
  </body>
</html>

<script type="text/javascript" src="../static/js/fontAwesome.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../static/js/global.js"></script>
<script type="text/javascript" src="../static/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/js/notify.min.js"></script>

<script type="text/javascript" src="../static/js/bootbox.min.js"></script>
<script type="text/javascript" src="../static/js/bootbox.locales.min.js"></script>

<!-- JS Para ordernar tabela JS -->
<script type="text/javascript" src="../static/js/Bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/Bootstrap/bootstrap-select.min.js"></script>