{% include 'cabecalho.html' %}
<div class="container">
    {% include 'menu.html' %}
    <div class="card mt-3 mb-3">
        <div class="card-header p-1">
            <h2 class="card-title font-size-15 text-provedor mb-0 p-1 text-center">Agenda - Novo Usuário</h2>
        </div>
        <div class="card-body p-3">
            <div class="row pt-3">
                <div class="col">

                    <form action="/usuario/admin/salvar" method="POST" name="salvarAcessoAdmin">
                        <input type="hidden" name="form-name" value="cadastro_usuario_admin">
                        <input type="hidden" name="codigo" value="">
                        <div class="row justify-content-center">
                            <div class="col-8 col-xl-10 form-group">
                                <input type="email" name="login" value="" placeholder="E-mail" class="form-control py-2 px-3" required="true" />
                            </div>
                            <div class="col-8 col-xl-10 form-group">
                                <input type="password" name="senha" value="" placeholder="Senha" class="form-control py-2 px-3" required="true" />
                            </div>
                            <div class="col-8 col-xl-10 form-group pt-3">
                                <button type="submit" class="btn form-control btn-primary" id="btnNovoUsuarioAdmin">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header p-1">
                            <h2 class="card-title font-size-15 text-provedor mb-0 p-1 text-center">Lista</h2>
                        </div>
                        <div class="card-body p-3">
                            <table class="table table-sm table-bordered table-hover">
                                <thead class="small text-provedor">
                                    <tr>
                                        <th>Código</th>
                                        <th>Login</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody class="small">
                                {% if acessos %}
                                    {% for acesso in acessos %}
                                    <tr class="text-muted">
                                        <td>{{acesso[0]}}</td>
                                        <td>{{acesso[1]}}</td>
                                        <td>
                                            <div class="row justify-content-center">
                                                <div class="col-auto px-1">
                                                    <a href="#" class="btn btn-light btn-sm border-0">
                                                        <i class="fa-solid fa-pen-to-square text-info pointer editarUsuario"
                                                            data-codigo="{{acesso[0]}}"
                                                            data-login="{{acesso[1]}}"
                                                            data-placement="left" data-toggle="tooltip" title="Alterar Usuário"></i></a>

                                                    <a href="/usuario/admin/remover?codigo={{acesso[0]}}" class="btn btn-light btn-sm border-0">
                                                        <i class="fa-solid fa-trash-can" title="Remover Usuário"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% include 'rodape.html' %}